* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

$firstColorWhite: rgb(255,255,255);
$secondColorBlack: rgb(33,33,33);
$blue: #274E8D;
$lightBlue: #507FBA;

/*-----------------------------------------------A-Propos----------------------------------------------*/

#a-propos-left-wrapper {
  position: absolute;
  top: 20vh;
  left: 10vw;
  height: 50vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#a-propos-title {
  position: relative;
  font-family: como,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  display: flex;
  align-items: center;
  color: $blue;
}

.a-propos-paragraph {
  font-size: 1.7vw;
  font-family: neuzeit-grotesk, sans-serif;
  text-align: left;

  &:first-line {
    color: transparent;
    user-select: none;
  }
}

#a-propos-download-wrapper {
  position: relative;
  height: 5vh;
  width: auto;
  display: flex;
  flex-direction: row;
}

#a-propos-download-title {
  display: flex;
  font-size: 1.7vw;
  font-weight: 400;
  font-family: neuzeit-grotesk, sans-serif;
  align-items: center;
}


.download-image {
  position: relative;
  height: 80%;
  object-fit: cover;
  left: 1vw;
  top: 0.5vh;
}

.a-propos-image {
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

#about-button {
  position: relative;
  left: 5vw;
  height: 5vh;
  width: 8vw;
  border: none;
  outline: none;
  border-radius: 10vh;
  background-color: $blue;
  font-family: neuzeit-grotesk, sans-serif;
  font-size: 1.5vw;
  color: $firstColorWhite;
}

#a-propos-right-wrapper {
  position: absolute;
  top: 12.5vh;
  left: 50vw;
  height: 75vh;
  width: 50vw;
  display: flex;
}

#software-wrapper-global {
  position: absolute;
  bottom: 3.5vh;
  right: 0;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.software-wrapper {
  position: relative;
  height: 100%;
  width: 4vw;
}

.software-image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.software-title-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  font-family: neuzeit-grotesk, sans-serif;
}

.software-title {
  position: relative;
  font-size: 0.7vw;
  font-family: neuzeit-grotesk, sans-serif;
}

.image-about {
  position: relative;
  height: 90%;
  width: 90%;
}