* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

$firstColorWhite: rgb(255,255,255);
$secondColorBlack: rgb(33,33,33);
$blue: #274E8D;
$lightBlue: #507FBA;

/*---------------------------------------------Projets------------------------------------------*/

#projets-navigation-wrapper {
  position: absolute;
  top: 10vh;
  right: 0;
  height: 80vh;
  width: 7.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navigation {
  position: relative;
  left: calc(50% - 3vh);
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  user-select: none;

  &.active {
    position: relative;
    left: calc(50% - 5vh);
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    user-select: none;
  }

}

.navigation-image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.project-left-wrapper {
  position: absolute;
  top: 20vh;
  left: 10vw;
  height: 60vh;
  width: 35vw;
}

.project-right-wrapper {
  position: absolute;
  top: 15vh;
  right: 10vw;
  height: 70vh;
  width: 40vw;
}

.project-image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-title-wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.project-title {
  position: relative;
  font-family: como,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5vw;
  color: $blue;
}

.project-subtitle-wrapper {
  position: relative;
  top: -2vh;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.project-subtitle {
  font-family: neuzeit-grotesk, sans-serif;
  color: $lightBlue;
  font-size: 3vw;
  font-style: normal;
  font-weight: bold;
}

.project-paragraph-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 30vh;
  width: 100%;
}

.project-paragraph {
  font-size: 1.1vw;
  font-family: neuzeit-grotesk, sans-serif;
  text-align: left;

  &:first-line {
    color: transparent;
    user-select: none;
  }
}